@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/rubik-v14-latin_cyrillic-regular.woff2') format('woff2'),
    url('../fonts/rubik-v14-latin_cyrillic-regular.woff') format('woff');
}
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    src: local(''),
    url('../fonts/rubik-v14-latin_cyrillic-500.woff2') format('woff2'),
    url('../fonts/rubik-v14-latin_cyrillic-500.woff') format('woff');
}

*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', 'Arial', sans-serif;
}

img {
    vertical-align: middle;
}

.container {
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

/* Header */

.header {
    
    background-color: #F6F6F9;
}

.header-container {
    background-color: #F6F6F9;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0px;
}

.header-list {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

.header-left-side {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-logo-link {
    margin-right: 17px;
    width: 320px;
    height: 40px;
}

.header-list-item {
    margin-right: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #7688A4
    ;
}

.header-symbol {
    margin-right: 5px;
    color: #285193;
    font-weight: bold;  
}

.header-tg-link:hover {
    opacity: 0.8;
    border-radius: 5px;
}
.header-tg-link:active {
    opacity: 1;
}

.header-middle {
    background-color: #fff;
    margin-bottom: 18px; 
}

.news-category {
    width: 1200px;
    height: 68px;
    padding: 0;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
}

.news-category-item {
    font-weight: 500;
    font-size: 19px;
    line-height: 23px;
    justify-content: center;
}

.news-category-item:hover {
    text-decoration: underline;
}
.news-category-item:active {
    opacity: 0.5;
}

.n-c-i-link {
    text-decoration: none;
    color: #515151; 
}

.header-bottom {
    
}
.ad-nrg {

    max-width: 1200px;
    height: 99px;
    margin-bottom: 25px;
}

/* 12 */